# React Native
node_modules/
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native Packager
*.packager.js

# Metro Bundler
.expo/
dist/
.expo-shared/

# Testing
coverage/

# Bundle
*.jsbundle
*.map
index.android.js
index.ios.js
index.js

# macOS
.DS_Store

# Temporary files
tmp/
temp/

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini

# Gradle files
android/.gradle/
android/build/
android/app/build/

# Local configuration files
android/local.properties
android/*.iml
android/.idea/

# iOS build files
ios/Pods/
ios/build/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Miscellaneous
.expo/
.expo-shared/

# Firebase cache
firebase-debug.log
